.page1{
  display: inline-block;
  text-decoration: none;
  color: #000;
  width: 13vw;
  height: 20vh;
  line-height: 18vh;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  background-image: -webkit-linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: .4s;
  font-size:15px;
}
.page1:hover{
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}

.kihon{
  position: absolute;
  left:53vw;
  margin-top: -9.5vw;
}

.tutorial{
  color: #fff;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  height: 60px;/*高さ*/
  width: 210px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 25px;/*文字のサイズ*/
  line-height: 70px;/*高さと合わせる*/
  vertical-align: middle;/*垂直中央寄せ*/
  background: #1da1f3;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  cursor: pointer;
  margin-left: 1vw;
}
.tutoimg{
  vertical-align: middle;
}
.tutorial span {/*テキスト*/
  display:inline-block;
  transition: .5s}
.tutorial:hover span{/*ホバーで一周回転*/
  -webkit-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  transform: rotateX(360deg);
}
.kinou_bottom{
  display: flex;
}
.btn-social-square--reset{
  /* display: inline-block; */
  text-decoration: none;
  width: 10vw;
  margin:2px;
  line-height: 50px;
  font-size: 2.5vmin;
  color:white;
  border-radius: 12px;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .3s;
  background: #ff6d82;
  /* margin-top: -1vw; */
  cursor: pointer;
  margin-bottom:2vw;
  margin-left: 15vw;
}
.btn-social-square:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.btn-social-square{
  line-height:50px;
}
.btn-social-square--zenhan{
  /* display: inline-block; */
  text-decoration: none;
  width: 13vw;
  margin:2px;
  line-height: 50px;
  font-size: 2vmin;
  color:white;
  border-radius: 12px;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .3s;
  background: #7bda72;
  margin-bottom:2vw;
  margin-left: 1vw;
  cursor: pointer;
}
.btn-social-square--hintkesu{
  /* display: inline-block; */
  text-decoration: none;
  width: 13vw;
  margin:2px;
  line-height: 50px;
  font-size: 2vmin;
  color:white;
  border-radius: 12px;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .3s;
  background: #7bda72;
  margin-bottom:2vw;
  margin-left: 1vw;
  cursor: pointer;
}
.square_btn_1{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1.5em;
  text-decoration: none;
  color: #D32536;
  background: #000;
  transition: .4s;
}
.square_btn_2{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #000;
  transition: .4s;
}
.square_btn_3{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1.5em;
  text-decoration: none;
  color: #11AB5B;
  background: #151515;
  transition: .4s;
}
.square_btn_4{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em 1.5em;
  text-decoration: none;
  color: #11AB5B;
  background: #ECECEC;
  transition: .4s;
  left:25px;
  margin-top: 10px;
}

.square_btn_1:hover {
    background: #D32536;
    color: white;
}
.square_btn_2:hover {
    background: #00bcd4;
    color: white;
}
.square_btn_3:hover {
    background: #11AB5B;
    color: white;
}
.square_btn_4:hover {
    background: #11AB5B;
    color: white;
}
